.background{
    height: 100vh !important;
    width: 100% !important;
    background-image: linear-gradient(to bottom, rgb(66,66,66), rgb(18,18,18));
    display: flex;
    justify-content: center;
    align-items: center;
}